.correct{
  
  width: 100%;
  height: auto;

}

.add{
    
    
    text-align: center;
}
.mat-display-3{
  background-color: grey;
  color: white;
  
  text-align: center;
}

/*.mat-h1{
    text-align: center;
    
}*/