<mat-toolbar class="app-toolbar"  >
    <span class="fill"></span>
    <button mat-button routerLink="/" ><img src="assets\updated.png" class="d-inline-block align-top" style="width:200px; height: 90px;"></button>
    <div class="spacer"></div>
    <div class="gap"></div>
        <a class="color" routerLink="/" routerLinkActive="active" mat-button>Home</a>
        <a class="color" routerLink="/whatwedo" routerLinkActive="active" mat-button >What We Do</a>
        <a class="color" routerLink="/whoweserve" routerLinkActive="active" mat-button >Who We Serve</a>
        <a class="color" routerLink="/aboutus" routerLinkActive="active" mat-button >About Us</a>
        <a class="color" routerLink="/contactus" routerLinkActive="active" mat-button>Contact Us</a>  
  </mat-toolbar>
  <router-outlet></router-outlet>

<!-- Footer -->
<footer  class="page-footer font-small blue pt-4" style="background-color:#1a1a2e;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <img src="../../assets/updated.png" style="width: 250px;height:100px;">

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h3 class="text-uppercase" style="color: thistle; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Useful Links</h3>

            <ul class="list-unstyled">
              <li>
                <a href="/" class="color">Home</a>
              </li>
              <li>
                <a href="/whatwedo" class="color">What we Do</a>
              </li>
              <li>
                <a href="/whoweserve" class="color">Who We Serve</a>
              </li>
              <li>
                <a href="/aboutus" classs="color">About Us</a>
              </li>
              <li>
                  <a href="/contactus" class="color">Contact Us</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links 
            <h5 class="text-uppercase">Useful Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>-->

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: #16213e; color: thistle;"><!--© 2020 Copyright:-->
      <a href="https://mdbootstrap.com/"> ayatana@gmail.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->